.andes-card {
    padding: 12px;
    width: 25%;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.andes-card .prod-image img {
    max-width: 40%;
    height: auto;
}

.andes-card .prod-description {
    display: flex;
    padding: 16px;
}

.andes-card .name {
    font-size: 10px;
    color: #999999;
}

.andes-card .title {
    font-size: 20px;
    color: #333333;
}

.andes-card .subtitle {
    font-size: 10px;
    color: #999999;
}

.andes-card p {
    font-size: 10px;
    color: #3366cc;
}
.contenedorofert{
    border:  solid 2px #ccc;
    border-radius: 5px;
    box-shadow: #343a40;
    text-shadow: 0px 0px 1px #000;
    Width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tarjeta {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

