.andes-card {
    margin: 5px;
    padding: 12px;
    width: 25%;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.contenedorofert {
    border-radius: 5px;
    box-shadow: #343a40;
    text-shadow: 0px 0px 1px #000;
    Width: 100%;
    display: flex;
    justify-content: center;
}

/* Para tablets */
@media (max-width: 768px) {
    .contenedorofert {
        flex-direction: column;
        width: 100%;
    }
}
/* Para móviles */
@media (max-width: 500px) {
    .contenedorofert {
        flex-direction: column;
        width: 100%;
    }
}
.andes-card .prod-image img {
    max-width: 40%;
    height: auto;
}
.andes-card .prod-description {
    display: flex;
    padding: 16px;
}

.andes-card .name {
    font-size: 10px;
    color: #999999;
}

.andes-card .title {
    font-size: 20px;
    color: #333333;
}

.andes-card .subtitle {
    font-size: 10px;
    color: #999999;
}

.andes-card {
    font-size: 10px;
    color: #3366cc;
}
.tarjeta {
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: #343a40;
    text-shadow: 0px 0px 1px #000;
    width: 280px;
    margin: 10px;
    padding: 10px;
}
.favourite-button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
}
