
.carousel-image {
    border :2px solid #f8f9fa;
    border-radius: 10px;
    box-shadow: black 2px 50px 50px;
    max-height: 400px; /* Ajusta este valor según tus necesidades */
    max-width: 2000px;
    object-fit: cover; /* Esto asegura que las imágenes se redimensionen correctamente */
}


.containerHome{
    width: 80%;
}
.CarouselFooter{
    margin-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
