.carousel-image {
    border: 0.5px solid lightgrey;
    border-radius: 10px;
    box-shadow: lightgrey 1px 50px 40px;
    max-height: 400px; /* Ajusta este valor según tus necesidades */
    max-width: 2000px;
    object-fit: cover; /* Esto asegura que las imágenes se redimensionen correctamente */
}

.containerHome{
    width: 100%;
}
.CarouselFooter{
    width: 100%;
    margin-top: 20px;
}

.product-grid-home {
        flex-wrap: wrap;
        justify-content: center;
        grid-column: 4 / span 3;
        margin-top: 20px;
}
.container-market{
    border-radius: 10px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
.tarjeta {
    width: 350px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tarjeta img {
    width: 100%;
    height: auto;
}

.tarjeta h3 {
    margin-top: 10px;
    font-size: 16px;
}

.tarjeta p {
    font-size: 14px;
    color: #666;
}

.btn-btn-success{
    background-color: #28a745;
    border-color: #28a745;
}

.banner{
    box-shadow: lightgrey 1px 50px 40px;
    max-width: 2000px;
    object-fit: cover;
    margin-bottom: 25px;
}
.bannerBlack{
    box-shadow: black 1px 30px 40px;
    max-width: 2000px;
    object-fit: cover;
    margin-bottom: 25px;
}

.banner{
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: red 1px 20px 60px;
    max-width: 2000px;
    object-fit: cover;
    margin-bottom: 25px;
}

.banner{
    animation: fadeIn 2s ease-in-out 1;
Mc img{
    width: 100%;
    height: auto;
}

}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.cardsHomer{
    max-width: 2000px;
    object-fit: cover;
    margin-bottom: 25px;
}








