.cart-icon {
    color: white;
    font-size: 24px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
}