.card-container {
    height: 500px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.dataEmployee{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}