.html,body{
    padding: 1px;
    font-family: Arial, sans-serif;
}

.td-container-wrapr{
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
}
/* Estilos para pantallas de escritorio */
@media (min-width: 992px) {
    .containerBody {
        padding: 20px;
    }
    /* Agrega más estilos específicos para escritorio aquí */
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .containerBody {
        padding: 15px;
    }
    /* Agrega más estilos específicos para tablets aquí */
}

/* Estilos para móviles */
@media (max-width: 767px) {
    .containerBody {
        padding: 10px;
    }
    /* Agrega más estilos específicos para móviles aquí */
}
.d-flex {
    display: flex;
    justify-content: space-between;
}

.row-cols-12 {
    width: 20%;
}

.container {
    width: 100%;
}